<!-- ALERT -->
<div class="alert alert-dismissible">
  <div class="h">
    Free Delivery on orders over £120. Don't miss discount.
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>
</div>

<!-- NAVBAR-1 -->
<ul class="nav">

  <li class="nav-item">
    <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#">300k followers</a>
  </li>

  <li class="nav-item">
    <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#">100k followers</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#">Open Doors To A World Of Fashion</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#" id="i1">| Discover More</a>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">English</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">English</a></li>
      <li><a class="dropdown-item" href="#">Easpñol</a></li>
      <li><a class="dropdown-item" href="#">Français </a></li>
    </ul>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">USD</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">CAD </a></li>
      <li><a class="dropdown-item" href="#">EUR </a></li>
      <li><a class="dropdown-item" href="#">GBP </a></li>
      <li><a class="dropdown-item" href="#">HKD </a></li>
      <li><a class="dropdown-item" href="#">USD </a></li>
    </ul>
  </li>

</ul>
<hr class="hr">

<!-- NAVBAR-2 -->
<div class="uul">
  <ul class="nav">

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">Home</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">English</a></li>
        <li><a class="dropdown-item" href="#">Easpñol</a></li>
        <li><a class="dropdown-item" href="#">Français </a></li>
      </ul>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">Shops</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">CAD </a></li>
        <li><a class="dropdown-item" href="#">EUR </a></li>
        <li><a class="dropdown-item" href="#">GBP </a></li>
        <li><a class="dropdown-item" href="#">HKD </a></li>
        <li><a class="dropdown-item" href="#">USD </a></li>
      </ul>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">Products</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">CAD </a></li>
        <li><a class="dropdown-item" href="#">EUR </a></li>
        <li><a class="dropdown-item" href="#">GBP </a></li>
        <li><a class="dropdown-item" href="#">HKD </a></li>
        <li><a class="dropdown-item" href="#">USD </a></li>
      </ul>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">Pages</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">CAD </a></li>
        <li><a class="dropdown-item" href="#">EUR </a></li>
        <li><a class="dropdown-item" href="#">GBP </a></li>
        <li><a class="dropdown-item" href="#">HKD </a></li>
        <li><a class="dropdown-item" href="#">USD </a></li>
      </ul>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">Blog</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">CAD </a></li>
        <li><a class="dropdown-item" href="#">EUR </a></li>
        <li><a class="dropdown-item" href="#">GBP </a></li>
        <li><a class="dropdown-item" href="#">HKD </a></li>
        <li><a class="dropdown-item" href="#">USD </a></li>
      </ul>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">FoxKit</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">CAD </a></li>
        <li><a class="dropdown-item" href="#">EUR </a></li>
        <li><a class="dropdown-item" href="#">GBP </a></li>
        <li><a class="dropdown-item" href="#">HKD </a></li>
        <li><a class="dropdown-item" href="#">USD </a></li>
      </ul>
    </li>

    <div class="img-os">
      <a href="https://next.minimog.co/#"><img src="assets/img.png" alt="img" width="150px"></a>
    </div>

    <ul class="nav op">
      <li class="nav-item"><i class="fa fa-search"></i></li>
      <li class="nav-item"><i class="fa fa-user"></i></li>
      <li class="nav-item"><i class="fa fa-star-o"></i></li>
      <li class="nav-item"><i class="fa fa-shopping-bag"></i></li>
    </ul>

  </ul>

</div>


<!-- MAIN-BODY -->
<div class="container-fluid">
  <div class="imgg">
    <!-- Carousel -->
    <div id="demo" class="carousel slide" data-bs-ride="carousel">

      <!-- Indicators/dots -->
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
      </div>

      <!-- The slideshow/carousel -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/i1.webp" alt="1" class="d-block" style="width:100%">
          <div class="carousel-caption">
            <h3>New Arrivals</h3>
            <h1>Double Breasted</h1>
            <button type="button" class="button button1">Shop Now</button>
          </div>
        </div>

        <div class="carousel-item">
          <img src="assets/i2.webp" alt="2" class="d-block" style="width:100%">
          <div class="carousel-caption">
            <h3>New Arrivals</h3>
            <h1>Autumn Collection</h1>
            <button type="button" class="button button1">Shop Now</button>
          </div>
        </div>

        <div class="carousel-item">
          <img src="assets/i3.webp" alt="3" class="d-block" style="width:100%">
          <div class="carousel-caption">
            <h3>Hot Trend</h3>
            <h1>Venice Haute Couture</h1>
            <button type="button" class="button button1">Discover Now</button>
          </div>
        </div>

      </div>
    </div>

  </div><br><br>

  <div class="season-div">
    <div class="season-text">
      <h2>Season Collection</h2>
    </div>
    <div class="season-slider">
      <button class="season-btn">
        <a href="#"></a>
        1/6<a href="#">></a>
      </button>
    </div>
  </div><br><br>

  <div class="row">
    <div class="col-lg-3">
      <a href="#"><img class="ssn-img" src="assets/11.webp" alt="" /></a>
      <div class="row ssn-content">
        <div class="col-lg-6">
          <a href="#" class="ssn-text">Leather Bag</a> <br>
          <a href="#" class="ssn-text2">5 items</a>
        </div>
        <div class="col-lg-6">
          <button class="circle-button">➔</button>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <img class="ssn-img" src="assets/12.webp" alt="" />
      <div class="row ssn-content">
        <div class="col-lg-6">
          <a href="#" class="ssn-text">Shoes</a> <br>
          <a href="#" class="ssn-text2">2 items</a>
        </div>
        <div class="col-lg-6">
          <button class="circle-button">➔</button>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <img class="ssn-img" src="assets/13.webp" alt="" />
      <div class="row ssn-content">
        <div class="col-lg-6">
          <a href="#" class="ssn-text">Top</a> <br>
          <a href="#" class="ssn-text2">3 items</a>
        </div>
        <div class="col-lg-6">
          <button class="circle-button">➔</button>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <a href="#"><img class="ssn-img" src="assets/14.webp"></a>

      <div class="row ssn-content">
        <div class="col-lg-6">
          <a href="#" class="ssn-text">Blazer</a> <br>
          <a href="#" class="ssn-text2">4 items</a>
        </div>
        <div class="col-lg-6">
          <button class="circle-button">➔</button>
        </div>
      </div>
    </div>
  </div>

  <!-- BEST SELLER CONTENT -->
  <h2 class="best-seller-h">You are in
    <a href="#" class="best-seller-ha">best sellers
      <i class="fa fa-angle-down"></i>
    </a>
  </h2>

  <div class="row best-sellers">

    <div class="col-lg">
      <img src="assets/1.webp" alt="">
      <div class="best-sellers-content">
        <a href="#" class="best-sellers-text">Wool Blend jacket</a> <br>
        <a href="#" class="best-sellers-text">$33.33</a> <br>
        <button class="color-btns2"></button>
        <button class="color-btns1"></button>
        <button class="color-btns"></button>
      </div>
    </div>
    <div class="col-lg">
      <img src="assets/2.webp" alt="">
      <div class="best-sellers-content">
        <a href="#" class="best-sellers-text">Stripe Cotton Shirt</a> <br>
        <a href="#" class="best-sellers-text">$17.00</a> <br>
        <button class="color-btns2"></button>
        <button class="color-btns1"></button>
      </div>
    </div>
    <div class="col-lg">
      <img src="assets/3.webp" alt="">
      <div class="best-sellers-content">
        <a href="#" class="best-sellers-text">Slim High Ankle Jeans</a> <br>
        <a href="#" class="best-sellers-text">$20.33</a> <br>
        <button class="color-btns"></button>
        <button class="color-btns1"></button>
      </div>
    </div>
    <div class="col-lg">
      <img src="assets/3.jpg" alt="">
      <div class="best-sellers-content">
        <a href="#" class="best-sellers-text">Oversized T-Shirt</a> <br>
        <a href="#" class="best-sellers-text">$11.33</a> <br>
        <button class="color-btns"></button>
        <button class="color-btns1"></button>
        <button class="color-btns2"></button>
      </div>
    </div>
    <div class="col-lg">
      <img src="assets/5.webp" alt="">
      <div class="best-sellers-content">
        <a href="#" class="best-sellers-text">Oversized Jacket</a> <br>
        <a href="#" class="best-sellers-text">$33.33</a> <br>
        <button class="color-btns2"></button>
        <button class="color-btns1"></button>
      </div>
    </div>

  </div>

  <div class="row best-sellers-2">

    <div class="col-lg">
      <img src="assets/6.webp" alt="">
      <div class="best-sellers-content">
        <a href="#" class="best-sellers-text">Long Sleeve Maxi Dress</a> <br>
        <a href="#" class="best-sellers-text">$106.00</a><br>
        <button class="color-btns2"></button>
        <button class="color-btns1"></button>
        <button class="color-btns"></button>
      </div>
    </div>
    <div class="col-lg">
      <img src="assets/7.webp" alt="">
      <div class="best-sellers-content">
        <a href="#" class="best-sellers-text">Linen Check Blazer</a> <br>
        <a href="#" class="best-sellers-text">$25.00</a><br>
        <button class="color-btns2"></button>
        <button class="color-btns1"></button>
        <button class="color-btns"></button>
      </div>
    </div>
    <div class="col-lg">
      <img src="assets/8.webp" alt="">
      <div class="best-sellers-content">
        <a href="#" class="best-sellers-text">Linen Blend Shirt</a> <br>
        <a href="#" class="best-sellers-text">$17.00</a><br>
        <button class="color-btns2"></button>
        <button class="color-btns1"></button>
        <button class="color-btns"></button>
      </div>
    </div>
    <div class="col-lg">
      <img src="assets/9.webp" alt="">
      <div class="best-sellers-content">
        <a href="#" class="best-sellers-text">Denim Jacket</a> <br>
        <a href="#" class="best-sellers-text">$29.00</a><br>
        <button class="color-btns2"></button>
        <button class="color-btns1"></button>
        <button class="color-btns"></button>
      </div>
    </div>
    <div class="col-lg">
      <img src="assets/10.webp" alt="">
      <div class="best-sellers-content">
        <a href="#" class="best-sellers-text">Cotton Flannel Shirt</a> <br>
        <a href="#" class="best-sellers-text">$15.00</a><br>
        <button class="color-btns2"></button>
        <button class="color-btns1"></button>
        <button class="color-btns"></button>
      </div>
    </div>
  </div>

  <hr>
  <br><br>


  <!-- FOOTER -->
  <div class="footer">
    <ul class="nav">

      <li class="nav-item">
        <img src="assets/box1.webp" alt="box1">
        <h1 class="h">Free Shipping</h1>
        <p class="p1">Tell about your service.</p>
      </li>

      <li class="nav-item">
        <img src="assets/box2.webp" alt="box2">
        <h1 class="h">Money Guarantee</h1>
        <p class="p1">Within 30 days for an exchange.</p>
      </li>

      <li class="nav-item">
        <img src="assets/box3.webp" alt="box3">
        <h1 class="h">Online Support</h1>
        <p class="p1">24 hours a day, 7 days a week</p>
      </li>

      <li class="nav-item">
        <img src="assets/box4.webp" alt="box4">
        <h1 class="h">Flexible Payment</h1>
        <p class="p1">Pay with Multiple Credit Cards</p>
      </li>

    </ul><br>

    <div class="boxx" style="background-color: rgb(244, 244, 244);">

      <div class="row">

        <div class="col-lg-3">
          <h6>Information</h6><br>
          <p class="fff">Privacy policy</p>
          <p class="fff">Refund policy</p>
          <p class="fff">Shipping & Return</p>
          <p class="fff">Term & conditions</p>
        </div>

        <div class="col-lg-3">
          <h6>Quick links</h6><br>
          <p class="fff">My account</p>
          <p class="fff">Cart</p>
          <p class="fff">Wishlist</p>
          <p class="fff">Product Compare</p>
        </div>

        <div class="col-lg-3">
          <h6>Our store</h6><br>
          <p class="fff">Find a location nearest you.</p>
          <p class="fff"><a href="#" class="os">See Our Stores</a></p>
          <p class="fff">+84 (0)387 392 056</p>
          <p class="fff">hello@domain.com</p>
        </div>

        <div class="col-lg-3">
          <h6>Subscribe</h6><br>
          <p class="fff">Enter your email below to be the first to know about new collections and product launches.</p>

          <form>
            <i class="fa fa-envelope"></i>
            <input type="text" name="" id="search-item" placeholder="Enter your email">
          </form>

        </div>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <a href="#">
            <i class="fa fa-cc-visa"></i>
            <i class="fa fa-cc-mastercard"></i>
            <i class="fa fa-cc-amex"></i>
            <i class="fa fa-paypal"></i>
            <i class="fa fa-cc-diners-club"></i>
            <i class="fa fa-cc-discover"></i>
          </a>
        </div>

        <div class="col-lg-4">
          <h5>© MINIMOG 2021</h5>
        </div>

        <div class="col-lg-4">
          <ul class="nav">

            <li class="nav-item">
              <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
            </li>

            <li class="nav-item">
              <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">USD</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">CAD </a></li>
                <li><a class="dropdown-item" href="#">EUR </a></li>
                <li><a class="dropdown-item" href="#">GBP </a></li>
                <li><a class="dropdown-item" href="#">HKD </a></li>
                <li><a class="dropdown-item" href="#">USD </a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">English</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">English</a></li>
                <li><a class="dropdown-item" href="#">Easpñol</a></li>
                <li><a class="dropdown-item" href="#">Français </a></li>
              </ul>
            </li>

          </ul>
        </div>
      </div>


    </div>

  </div>

</div>
<router-outlet></router-outlet>